.main_container .container {
  max-width: 900px;
  min-height: 100vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 10px;
}
.main_container .container .box_container .welcome {
  padding: 10px;
}
.main_container .container .box_container .welcome .welcome_msg{
  text-align: justify;
}

.error_msg {
  color: #db3e3e;
}